    <nav class='nav-bar'>
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path if current_user %>
        <%= link_to "List", list_path if current_user %>
        <%= link_to "Concert Log", logs_path if current_user %>
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </nav>